body{
	position: relative;
}
textarea
{
	resize: none;
}


.paneltitle
{		
	width: auto;
	height: auto;
	margin-bottom: 25px;
}

.edit-btn{
	margin-top: -40px;
}
.article-info{

	margin-top: -20px;
	margin-bottom: 15px;
}
.navbar-inverse
{
	display: none;
}
#loginbtn
{
	cursor: pointer;
}
#copyright
{
	padding: 30px;
	margin: 20px;
}
#registpage
{
	padding-top: 50px;
}
#article_page
{
	padding-top: 70px;
	background-image: url("../img/background.jpg");
}
#sb_article
{
	
}
#resumepage
{
	padding-top: 70px;
}
img
{
	width: 100%;
}
.autobiography
{
	letter-spacing: 3px;
}
#piecespage
{
	padding-top: 70px;
	background-color: #FFD2D2;
}
#postpage
{
	padding-top: 70px;
}
#idbtn
{
	display: none;
}
#menberpage
{
	padding-top: 70px;
}