body{
	background-color: #4F4F4F;
}
#registpage
{
	width: 450px;
	height:auto;
	position:fixed;
	margin-top: 15px;
	background-color: #F0F0F0;
	display: none;
	padding: 20px;
}
#textarea
{
	resize: none;
	width: 410px;
	height: 100px;
	margin-top: 0px;
	margin-left: 5px;
}

#radioform
{
	padding-left: 20px;
}
#ragistbtn{
	width: 500px;

}
.paneltitle
{		
	width: auto;
	height: auto;
	margin-bottom: 25px;
}

.guestpage
{	position: fixed;
	background-color:#FCFCFC;
	width: auto;
	height: auto;
	margin-left:15px;
	margin-top :50px;
	border-radius: 50px;
}
.guestpage img
{
	border-radius: 50px;
	padding-bottom: 15px;
}
.userpage
{
	position: fixed;
	width: 275px;
	margin-left:15px;
	margin-top :50px;
	border-radius: 50px;
	background-color:#FCFCFC;
	height: auto;
}​
